@model IEnumerable<EduHome.Models.Teacher>

@{
    ViewData["Title"] = "Teacher Table";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeacherDetails.About)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeacherDetails.Degree)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeacherDetails.Experience)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeacherDetails.Hobbies)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Faculty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeacherContactInfo.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeacherContactInfo.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeacherSocialMedia.Skype)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeacherSocialMedia.Facebook)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeacherSocialMedia.Pinterest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeacherSocialMedia.Instagram)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeacherSocialMedia.Twitter)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Position.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeacherDetails.About).ToString().Substring(0,10)...
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeacherDetails.Degree)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeacherDetails.Experience)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeacherDetails.Hobbies)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Faculty.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeacherContactInfo.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeacherContactInfo.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeacherSocialMedia.Skype)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeacherSocialMedia.Facebook)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeacherSocialMedia.Pinterest)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeacherSocialMedia.Instagram)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeacherSocialMedia.Twitter)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

